# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/
package-lock.json

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory
coverage/

# Cache directories
.npm
.eslintcache

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Backend specific
Backend/logs/
